/* COMMON START */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700');

.container {
    width: 1170px;
    margin: 0 auto;
}

/* COMMON END */

/* HEADER START */

.main-header {
    background: url('../img/grass.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 16%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.header-description {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 28px;
    text-transform: capitalize;
}

.header-slogan {
    display: inline-block;
    border: 1px solid white;
    background-color:  rgba(0, 0, 0, 0.3);
}

.header-slogan-text {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color:  white;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 44px 44px 44px 26px;
}

.header-slogan-highlight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 54px;
    background-color: white;
    padding: 38px 32px;
    box-sizing: border-box;
}

/* HEADER END */

/* MAIN CONTENT START */

.section1 {
    padding-top: 112px;
    padding-bottom: 137px;
}

.section-heading {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    margin-top: 35px;
}

.section2 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: url('../img/speed.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.section3 {
    padding-top: 136px;
    padding-bottom: 180px;
}

.section4 {
    padding-top: 174px;
    padding-bottom: 121px;
    background: url('../img/tree.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.logos-container {
    width: 840px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 58px;
}

.section5 {
    padding-top: 157px;
    padding-bottom: 122px;
}

.section6 {
    padding-top: 130px;
    padding-bottom: 119px;
    background: url('../img/lake.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.theme-para {
    font-family: 'Open Sans', sans-serif;
    color:  white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-top: 60px;
}

.theme-link {
    color: #f1ad1d;
    text-decoration: none;
}

.theme-link:hover {
    color: white;
    border-bottom: 1px solid white;
}

.section7 {
    padding-top: 154px;
    padding-bottom: 179px;
}

.selected-text {
    color: #f1ad1d;
}

.white-text {
    color: white;
}

.separator::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:  #f1ad1d;
    margin: 0 auto;
    margin-top: 52px;
}

.white-separator::after {
    content: "";
    display: block;
    width: 281px;
    height: 3px;
    background-color:  white;
    margin: 0 auto;
    margin-top: 44px;
}

/* MAIN CONTENT END */