.container {
    width: 1280px;
    margin: 0 auto;
}

.mt45 { /* для создания отступа между секциями */
    margin-top: 45px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    clear: both;
}

/* ==================== HEADER START ==================== */
.logo {
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.logo-blue-part {
    color: #4bcaff;
}

.header-menu {
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #35444f;
    font-size: 0; /* для решения проблемы с нежелательными пробелами между пунктами меню */
}

.header-menu-item {
    display: inline-block;
    padding: 23px 41px;
    font-size: 24px;
    border-left: 1px solid #35444f; /* при наведении курсора на пункт меню, из-за толщины появляющегося светлого бордера соседние пунты немного разъезжались в стороны, поэтому я добавил эти левый и правый бордер цветом общего фона меню. Пробовал решить проблему через box-sizing, но не взошло */
    border-right: 1px solid #35444f;
}

.header-menu-item:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.header-menu-link {
    color: white;
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    text-decoration: none;
}
/* ==================== HEADER END ==================== */

/* ==================== MAIN SECTION START ==================== */

.vertical-menu {
    width: 344px;
    border: 1px solid black;
    list-style: none;    
    font-size: 0; /* для решения проблемы с нежелательными пробелами между пунктами меню */
}

.vertical-menu-item {
    padding: 30px 44px;
    font-size: 27px;
}

.vertical-menu-item:hover {
    background-color: #dcdcdc;
    padding-left: 69px;
}

.vertical-menu-link {
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    text-align: left;
    text-decoration: none;
    color: black;
}

.article-image { /* Для выравнивания по центру картинки в статье */
    margin: 0 auto;
    padding: 74px 0;
    margin-bottom: 50px;
    box-sizing: border-box; /* Можно было задать нулевые горизонтальные паддинги, но захотелось так, заодно проверим, можно ли так */
    text-align: center;
    border: 1px solid black;
    overflow: hidden;
}

.article-image-scale{
    background-image: url('../img/article-image.png');
    width: 320px;
    height: 381px;
    margin: 0 auto;
}

.article-image-scale:hover {
    transform: scale(1.2);
    transition-duration: 2.5s;
}

.article-image-scale:not(hover) {
    transform: scale(1);
    transition-duration: 1.5s;
}


.article-para {
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.article-container {
    width: 885px;
}
/* ==================== MAIN SECTION END ==================== */

/* ==================== FOOTER START ==================== */
.footer-menu {
    background-color: #b5b8bb;
    list-style: none;
    padding: 22px 44px;
    margin-top: 51px;
    margin-bottom: 30px;
    font-size: 0; /* для решения проблемы с нежелательными пробелами между пунктами меню */
}

.footer-menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-menu-item:hover .footer-menu-link { /* не сообразил как по другому реализовать подсвечивание наведением курсора кроме как сложным селектором */
    color: #2d82a7;
    text-decoration: underline;
}

.footer-menu-link {
    text-decoration: none;
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    font-size: 27px;
    text-decoration: none;
    color: black;
}

.copyright {
    font-family: 'Myriad Pro', 'Mukta Mahee', sans-serif;
    color: back;
    font-size: 24px;
}
/* ==================== FOOTER END ==================== */

/* ==================== SELECTED MENU ITEMS START ==================== */
.header-menu-item-selected {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.vertical-menu-item-selected {
    background-color: #dcdcdc;
    padding-left: 69px;
}

.footer-menu-item-selected {
    color: #2d82a7;
    text-decoration: underline;
}
/* ==================== SELECTED MENU ITEMS END ==================== */