body {
    font-family: 'Arimo', sans-serif;
}

.page-background {
    height: 100vh;
    background-color: #374765;
}

/* COMMON END */

/* MAIN CONTENT START */

.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-table {
    background-color:  #fafafa;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.plan-name-col {
    width: 198px;
}

.plan-features-col {
    width: 157px;
}

.theading-big {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.table-heading-cell {
    color: #484848;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    background-color:  #fafafa;
    padding: 38px 0;
}

.service-icon {
    display: block;
    margin-bottom: 10px;
    color: #858585;
    font-size: 27px;
}

.thead-cell {
    font-size: 20px;
    font-weight: 700;
    color: #484848;
    vertical-align: middle;
}

.plan-name {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-top: 18px;
}

.plan-price {
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    padding-top: 22px;
}

.cents {
    font-size: 18px;
    position: relative;
    bottom: 13px;
}

.per-month {
    font-size: 14px;
    position: relative;
    bottom: 7px;
    margin-left: 8px;
}

.buynow-btn {
    display: block;
    margin: 18px auto;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-color:  #414141;
    width: 144px;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 4px;
    border-bottom: 5px solid #343434;
    box-sizing: border-box;
    transition: 0.4s;
}

.buynow-btn:hover {
    background-color: #343434;
    border-bottom: 5px solid #414141;
}

.buynow-btn:not(hover) {
    transition: 0.2s;
}

.tbody-cell {
    vertical-align: middle;
    color:  #484848;
    font-size: 16px;
    font-weight: 500;
}

.cell-shadow {
    box-shadow: inset 0px -6px 5px -5px rgba(0,0,0,0.12);
}

.table-head th:nth-child(even) {
    background-color:  #e3e3e3;
}

.table-head th:nth-child(odd) {
    background-color:  #f2f2f2;
}

.table-body td:nth-child(even) {
    background-color:  #e3e3e3;
}

.table-body td:nth-child(odd) {
    background-color:  #f2f2f2;
}

.standard-clr {
    background-color:  #89c331 !important;
}

.ultimate-clr {
    background-color:  #f04a56 !important;
}

.premium-clr {
    background-color:  #20807c !important;
}

/* MAIN CONTENT END */

/* FONTS */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v11-latin-regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
         url('../fonts/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/arimo-v11-latin-regular.woff') format('woff'),
         url('../fonts/arimo-v11-latin-regular.ttf') format('truetype'),
         url('../fonts/arimo-v11-latin-regular.svg#Arimo') format('svg');
}