main {
  font-family: 'Fira Code';
  background: url('../img/leaves-pattern.png');
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-btn {
  display: inline-block;
  width: 170px;
  text-align: center;
  text-decoration: none;
  color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  font-size: 50px;
  transition: 0.4s;
}

.start-btn {
  background-color: rgb(255, 72, 0);
}

.start-btn:hover {
  background-color: rgb(231, 54, 0);
}

.pause-btn {
  background-color: #33CC66
}

.pause-btn:hover {
  background-color: rgba(48, 184, 82, 0.972)
}

.clear-btn {
  background-color: #3399FF;
}

.clear-btn:hover {
  background-color: rgb(2, 137, 228);
}

.timer-numbers {
  text-align: center;
  font-size: 70px;
  color: rgb(44, 44, 44);
  margin-bottom: 10px;
}

/* FONTS */

@font-face {
  font-family: 'Fira Code';
  src:  url('../fonts/FiraCode-Regular.woff2') format('woff2'),
        url('../fonts/FiraCode-Regular.woff') format('woff');
}
