#main-content {
  background-image: url("../img/wheat.png");
  height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-list {
  list-style: katakana inside;
  line-height: 35px;
  padding: 30px;
  background-color: rgb(255, 249, 223);
  border-radius: 20px;
  font-size: 24px;
  box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.75);
}

.timer {
  font-size: 24px;
  color: rgb(255, 249, 223);
  margin-top: 20px;
}