/* COMMON BEGIN */

body {
    font-family: 'Arimo', sans-serif;
}

.page-background {
    height: 100vh; /* именно так сказал нам делать Богдан на уроке, если нужно задать общий фон странице */
    background-color: #374765;
}

/* COMMON END */

/* MAIN CONTENT BEGIN */

.cell-shadow-right {
    box-shadow: inset -8px 0px 14px -12px rgba(0,0,0,0.42);
}

.cell-shadow-left {
    box-shadow: inset 8px 0px 14px -12px rgba(0,0,0,0.42);
}

.main-content {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-table {
    border-collapse: collapse;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    text-align: center;
}

.table-header {
    background-color: #fafafa;
}

.table-heading {
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    padding: 0 49px;
    vertical-align: middle;
    line-height: 28px;
}

.table-heading-big {
    display: block;
    font-size: 30px;
}

.col-header {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 26px 72px;
}

.contact-clr {
    background-color:  #484848;
}

.standard-clr {
    background-color:  #89c331;
}

.ultimate-clr {
    background-color:  #f04a56;
}

.premium-clr {
    background-color:  #20807c;
}

.plan-price {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    padding: 18px 33px;
    color: #484848;
}

.cents {
    font-size: 24px;
    position: absolute;
    top: 22px;
    right: 123px;
}

.per-month {
    position: relative;
    left: 5px;
    bottom: 2px;
    color: #484848;
    font-size: 18px;
}

.table-body td {
    position: relative;
    color: #484848;
    font-size: 16px;
    padding: 20px 43px 28px;
}

.service-icon {
    position: relative;
    top: 5px;
    margin-right: 12px;
    color: #858585;
    font-size: 27px;
}

.table-body tr:nth-child(even) {
    background-color:  #e3e3e3;
}

.table-body tr:nth-child(odd) {
    background-color:  #f2f2f2;
}

.table-footer td {
    padding: 30px 59px;
}

.table-btn {
    display: block;
    box-sizing: border-box;
    width: 192px;
    height: 49px;
    border-radius: 5px;
    padding: 18px 0;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    transition: 0.4s;
}

.table-btn.contact-clr:hover {
    background-color: #3e3e3e;
}

.table-btn.standard-clr:hover {
    background-color: #79b027;
}

.table-btn.ultimate-clr:hover {
    background-color: #df3a46;
}

.table-btn.premium-clr:hover {
    background-color: #16736f;
}

.contact-btn-cell {
    background-color: #dddddd;
}

.standard-btn-cell {
    background-color: #eeeeee;
}

.ultimate-btn-cell {
    background-color: #f4f4f4;
}

.premium-btn-cell {
    background-color: #eeeeee;
}


/* MAIN CONTENT END */
