.main-content {
  height: 100vh;
  padding: 30px;
}

.first-btn {
  font-family: sans-serif;
  display: inline-block;
  background-color: goldenrod;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.first-btn:hover {
  background-color: rgb(233, 182, 53);
}

.draw-btn {
  font-family: sans-serif;
  display: inline-block;
  background-color: goldenrod;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

.draw-btn:hover {
  background-color: rgb(233, 182, 53);
}

.circle {
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

.diameter-input, .color-input {
  display: block;
  margin-bottom: 10px;
}