/* HEADER START */

.main-header {
    padding: 37px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    color:  #3e4b4e;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 45px;
}

.nav-link:last-child {
    margin-right: 0;
}

.text-selected {
    color:  #14afca;
}

.header-logo {
    margin-right: 182px;
    font-family: 'Roboto', sans-serif;
    color:  #424f57;
    font-size: 36px;
    font-weight: 300;
}

.logo-selection {
    color:  #14afca;
    font-weight: 900;
    text-transform: uppercase;
}

/* HEADER END */

/* MAIN CONTENT START */

.themes-section {
    background: url('../img/city-background.jpg') fixed no-repeat;
    background-size: cover;
    padding-top: 315px;
    padding-bottom: 168px;
}

.themes-heading {
    font-family: 'FuturaBT', sans-serif;
    color:  white;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
}

.section-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.what-section {
    padding-top: 108px;
    padding-bottom: 183px;
}

.section-description {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin-top: 8px;
}

.grey-text {
    color:  #424f57;
}

.white-text {
    color: white;
}

.section-content {
    margin: 42px auto 0;
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 973px;
}

.clients-section {
    background: url('../img/office-background.jpg') fixed no-repeat;
    background-size: cover;
    padding-top: 134px;
    padding-bottom: 176px;
}

.logos-container {
    margin: 49px auto 0;
    width: 960px;
    height: 260px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}



/* MAIN CONTENT END */