html, body, .page-background {
    height: 100%;
}

body {
    font-family: 'Verdana', sans-serif;
}

.page-background {
    background: url("../img/page-background.png") no-repeat fixed;
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* HEADER START */

.header {
    background-color:  rgba(0, 0, 0, 0.41);
    height: 60px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 1030px;
    margin: 0 auto;
}

.logo {
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}

.logo:hover {
    color: #3cb878;
}

.logo:not(hover){
    transition: 0.2s;
}

.header-btns {
    float: right;
}

.header-btn-link {
    display: inline-block;
    margin-right: 28px;
}

.header-calendar-btn {
    background-image: url('../img/header-btns-spritesheet.png');
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.header-calendar-btn:hover {
    background-position: -34px -5px;
}

.header-forum-btn {
    background-image: url('../img/header-btns-spritesheet.png');
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}

.header-forum-btn:hover {
    background-position: -101px -5px;
}

.header-compass-btn {
    background-image: url('../img/header-btns-spritesheet.png');
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
}

.header-compass-btn:hover {
    background-position: -169px -5px;
}

.welcome-options {
    float: right;
    padding-left: 24px;
    color: white;
    font-size: 14px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.welcome-options-link {
    color: white;
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
    text-decoration: none;
    text-transform: capitalize;
}

.welcome-options-link:hover {
    border-bottom: 1px solid #3cb878;
}

/* HEADER END */

/* MAIN SECTION START */

.main-content {
    display: flex;
    align-items: center;
    height: calc(100% - 60px);
}

.signup-form {
    position: relative;
    box-sizing: border-box;
    width: 444px;
    margin: 0 auto;
    background-color: white;
    padding: 32px 60px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

.green-squre-form-decoration {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 34px;
}   

.signup-heading {
    float: left;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}

.login-heading {
    float: right;
    position: relative; 
    top: 4px; /* без этого у меня надпись log in съезжала вверх, но я вообще не уверен, что это правильное решение, чтобы подвинуть ее вниз */
}

.login-heading-link {
    color: #3cb878;
    font-size: 14px;
    text-decoration: none;
}

.login-heading-link:hover {
    border-bottom: 1px solid #3cb878;
}

.social-btn-section {
    margin-top: 15px;
}

.social-login-btn {
    position: relative;
    width: 157px;
    height: 46px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
}

.social-login-btn:focus {
    outline: none;
}

.social-login-btn::before {
    /* content: ""; */
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 30px;
}

.facebook-login-btn {
    background-color: #305db8;
    padding-left: 55px;
    float: left;
    transition: 0.4s;
}

.facebook-login-btn::before {
    font-family: "Font Awesome 5 Brands"; content: "\f39e";
    font-size: 20px;
    line-height: 30px;
    border-right: rgba(0, 0, 0, 0.15) 1px solid;
    box-sizing: border-box;
    padding-left: 3px;
    margin: 8px 0;
}

.facebook-login-btn:hover {
    background-color: #264b96;
}

.facebook-login-btn:not(:hover) {
    transition: 0.2s;
}

.google-login-btn {
    background-color: #df4a32;
    padding-left: 53px;
    float: right;
    transition: 0.4s;
}

.google-login-btn::before {
    font-family: "Font Awesome 5 Brands"; content: "\f0d5";
    font-size: 20px;
    line-height: 30px;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    box-sizing: border-box;
    padding-left: 3px;
    margin: 8px 0;
}

.google-login-btn:hover {
    background-color: #c3412c;
}

.google-login-btn:not(:hover) {
    transition: 0.2s;
}

.form-separator-section {
    margin-top: 33px;
}

.form-separator {
    color: #848484;
    text-align: center;
    font-size: 14px;
}

.form-separator::before {
    content: "";
    display: block;
    width: 135px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 8px;
    float: left;
}

.form-separator::after {
    content: "";
    display: block;
    width: 135px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 8px;
    float: right;
}

.user-info-input-section {
    margin-top: 18px;
}

.form-text-input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 100%;
    border-radius: 3px;
    margin-top: 9px;
    font-size: 14px;
    padding: 18px;
}

.form-text-input::placeholder {
    color: #bebebe;
}

.form-text-input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border-color: white;
    outline: none;
}

.user-agreement-section {
    margin-top: 22px;
}

.user-agreement-checkbox {
    transform: scale(1.5);
}

.user-agreement-text {
    display: inline-block;
    color:  #434343;
    line-height: 21px;
    position: relative;
    top: 2px;
    padding-left: 6px;
}

.user-agreement-link {
    color: #3cb878;
    text-decoration: none;
}

.user-agreement-link:hover {
    border-bottom: 1px solid #3cb8;
}

.submit-btn-section {
    margin-top: 28px;
}

.submit-btn {
    color: white;
    font-size: 16px;
    background-color: #3cb878;
    padding: 17px 0;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
}

.submit-btn:hover {
    background-color: #2e9b65;
}

.submit-btn:not(:hover) {
    transition: 0.2s;
}

/* MAIN SECTION END */