.main-content {
  font-family: 'Fira Code';
  background: url('../img/leaves-pattern.png');
  padding-top: 100px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-btn {
  display: inline-block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: antiquewhite;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 40px;
  transition: 0.4s;
}

.start-btn {
  background-color: rgb(255, 72, 0);
}

.start-btn:hover {
  background-color: rgb(231, 54, 0);
}

.pause-btn {
  background-color: #33CC66
}

.pause-btn:hover {
  background-color: rgba(48, 184, 82, 0.972)
}

.clear-btn {
  background-color: #3399FF;
}

.clear-btn:hover {
  background-color: rgb(2, 137, 228);
}

.split-btn {
  background-color: #527096;
}

.split-btn:hover {
  background-color: #456185;
}

.timer-numbers {
  text-align: center;
  font-size: 70px;
  color: rgb(44, 44, 44);
  margin-bottom: 15px;
}

.split-list {
  margin-top: 20px;
  list-style: inside none;
  overflow: auto;
  padding: 0 17px;
}

.split-row {
  font-size: 30px;
  margin-top: 8px;
}

.time-check {
  font-size: 23px;
  color: rgb(80, 80, 80);
}

/* FONTS */

@font-face {
  font-family: 'Fira Code';
  src:  url('../fonts/FiraCode-Regular.woff2') format('woff2'),
        url('../fonts/FiraCode-Regular.woff') format('woff');
}
